apiVersion: v1
kind: Service
metadata:
  name: nginx-service
spec:
  selector:
    app: nginx
  ports:
  - protocol: TCP
    port: 80 # Porta do serviço
    targetPort: 80 # Porta do container
    nodePort: 30080 # Porta externa para acessar o serviço
  type: NodePort # Tipo de serviço que expõe uma porta em cada nó do cluster